@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Queen!</h1>
    </div>

    <br />
    <br />

    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HgzGwKwLmgM" allowfullscreen></iframe>
    </div>

    <br />
    <br />

    <h1 class="text-center" onclick="move()">Mr. Fahrenheit</h1>
    <p class="text-center">Click Mr. Fahrenheit if your burning through the sky with this classic!</p>

    <div id="myProgress">
        <div id="myBar">0&deg;F</div>
    </div>
    
    <script src="~/js/site.js"></script>
</body>
